<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>나이</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${userID}"></td>
            <td th:text="${userPW}"></td>
            <td th:text="${userName}"></td>
            <td th:text="${userAge}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>