<div class="index-left-side-area">
    <div class="index-left-side-logo">
        <a href="" th:href="@{/}"><img src="../../static/images/homeLogo.gif" th:src="@{/images/homeLogo.gif}" class="logo"></a>
    </div>
    <div class="index-left-side-menu">
        <ul>
            <li class="index-left-side-area-li">
                <img src="../../static/images/menu1.png" th:src="@{/images/menu1.png}" class="left-side-menu">
                <a href="/board">board</a>
            </li>
            <li class="index-left-side-area-li">
                <img src="../../static/images/menu2.png" th:src="@{/images/menu2.png}" class="left-side-menu">
                <a href="/board">board</a>
            </li>
            <li class="index-left-side-area-li">
                <img src="../../static/images/menu3.png" th:src="@{/images/menu3.png}" class="left-side-menu">
                <a href="/board">board</a>
            </li>
            <li class="index-left-side-area-li">
                <img src="../../static/images/menu4.png" th:src="@{/images/menu4.png}" class="left-side-menu">
                <a href="/board">board</a>
            </li>
            <li class="index-left-side-area-li">
                <img src="../../static/images/menu5.png" th:src="@{/images/menu5.png}" class="left-side-menu">
                <a href="/board">board</a>
            </li>
            <li class="index-left-side-area-li">
                <img src="../../static/images/menu6.png" th:src="@{/images/menu6.png}" class="left-side-menu">
                <a href="/board">board</a>
            </li>
        </ul>
    </div>
</div>